<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Confirmação de E-mail</title>
</head>

<body>
    <h1>Olá, {{name}}</h1>
    <p>Seu e-mail foi confirmado com sucesso. Agora você pode aproveitar todos os benefícios de ser um membro do
        Splendor.</p>
    <p>Explore nossa ampla variedade de veículos e encontre o seu carro ideal!</p>
    <p>Atenciosamente,<br>A equipe Splendor</p>
</body>

</html>