<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmação de E-mail Necessária</title>
</head>
<body>
    <h1>Olá, {{name}}</h1>
    <p>Para concluir seu cadastro, por favor confirme seu e-mail clicando no link abaixo:</p>
    <a href="{{confirm_email_url}}?token={{token}}">Confirmar E-mail</a>
    <p>Se você não se registrou no Splendor, ignore este e-mail.</p>
    <p>Atenciosamente,<br>A equipe Splendor</p>
</body>
</html>
