<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bem-vindo à Splendor!</title>
</head>

<body>
    <h1>Bem-vindo, {{name}}!</h1>
    <p>Obrigado por se registrar no Splendor. Estamos felizes em tê-lo conosco.</p>
    <p>Explore nossa ampla variedade de veículos e encontre o seu carro ideal!</p>
    <p>Se precisar de ajuda, não hesite em <a href="{{support_url}}">entrar em contato</a> conosco.</p>
    <p>Atenciosamente,<br>A equipe Splendor</p>
</body>

</html>